*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.name

*.prefs

e-commerce/portlets/e-commerce-portlet/.project

e-commerce/portlets/e-commerce-portlet/.classpath

e-commerce/portlets/e-commerce-portlet/.settings/.jsdtscope

*.component

*.xml

*.container

e-commerce/portlets/e-commerce-portlet/.tern-project
