<!DOCTYPE html>


##The MIT License (MIT)

##Copyright (c) 2014 - Vincent Gabriel

##Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
##The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
##THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.


#parse ($init)

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>

	<meta content="initial-scale=1.0, width=device-width" name="viewport" />

	$theme.include($top_head_include)
	<script src="http://code.jquery.com/jquery.js"></script>
	<link rel="stylesheet" type="text/css" href="$css_folder/custom.css" />
	<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" />
</head>

#set( $pageLink = "/web$layout.getGroup().friendlyURL/cart" )

<body class="$css_class" onload="initCart('$pageLink');">

#if ($is_signed_in)
	#dockbar()
#end

<div class="theme-navbar">

<a href="#main-content" id="skip-to-content">#language ("skip-to-content")</a>

$theme.include($body_top_include)

<div class="container-fluid" id="wrapper">
	<header id="banner" role="banner">

		#if (!$is_signed_in)
			<a data-redirect="$is_login_redirect_required" href="$sign_in_url" id="sign-in" rel="nofollow">$sign_in_text</a>
		#end

		#if ($has_navigation || $is_signed_in)
			#parse ("$full_templates_path/navigation.vm")
		#end
	</header>

	<div id="content">

		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</div>

	<footer id="footer" role="contentinfo">
		 #set ($VOID = $velocityPortletPreferences.setValue('groupId', $themeDisplay.getScopeGroupId().toString()))
		 #set ($VOID = $velocityPortletPreferences.setValue('articleId', 'FOOTER-LOGO'))
		 #set ($VOID = $velocityPortletPreferences.setValue('portletSetupShowBorders', 'false'))
		 #set ($portlet_id = '56')
		 #set ($my_portlet_id = "${portlet_id}_INSTANCE_7655")

		$theme.runtime($my_portlet_id, "", $velocityPortletPreferences.toString())
		
	</footer>
</div>

$theme.include($body_bottom_include)

$theme.include($bottom_include)

<script type="text/javascript" src="$javascript_folder/jquery.min.js"></script>
<script type="text/javascript" src="$javascript_folder/bootstrap.min.js"></script>
<script type="text/javascript" src="$javascript_folder/main.js"></script>
</div>
</body>

</html>